## EJERCICIOS PYTHON BASICO 1:
## Tipos y conversión de tipos

Completa los siguiente ejercicios, la solución a los mismos se publicarán en el repo del curso a lo largo del sprint



## Ejercicio 1

1. Crea dos variables numericas: un `int` y un `float`
2. Comprueba sus tipos
3. Sumalas en otra nueva
4. ¿De qué tipo es la nueva variable?
5. Elimina las dos primeras variables creadas

In [6]:
num1 = 5
num2 = 7.5

print("Primer número:", num1)
print("Tipo de dato del primer número:", type(num1))
print("Primer número", num2)
print("Tipo de dato del segundo número:", type(num2))

suma = num1 + num2
print(num1, "+", num2, "=", suma)
print("Tipo de dato del resultado de la suma:", type(suma))

del num1
del num2

print(num1, num2)

Primer número: 5
Tipo de dato del primer número: <class 'int'>
Primer número 7.5
Tipo de dato del segundo número: <class 'float'>
5 + 7.5 = 12.5
Tipo de dato del resultado de la suma: <class 'float'>

NameError: name 'num1' is not defined



## Ejercicio 2
Escribe un programa para pasar de grados a radianes. Hay que usar `input`. Recuerda que la conversión se realiza mediante

radianes = grados*(pi/180)

In [9]:
grados = input("Introduce un valor en grados:")
grados = int(grados)
PI = 3.1416
radianes = round(grados * (PI/180), 2)
print(grados, "grados equivalen a", radianes)

Introduce un valor en grados: 90

90 grados equivalen a 1.57



## Ejercicio 3
Escribe un programa que calcule el area de un paralelogramo (base x altura). También con `input`

In [15]:
base = input("Introduce la base:")
base = float(base)

altura = input("Introduce la altura:")
altura = float(altura)

area = round((base * altura), 2)

print("Área del paralelogramo:")
print(base, "x", altura, "=", area)

Introduce la base: 2.55
Introduce la altura: 3.66

Área del paralelogramo:
2.55 x 3.66 = 9.33



## Ejercicio 4
Escribe un programa que calcule el area de un paralelogramo (base x altura). También con `input`. En este caso debe ser capaz de admitir valores reales, con decimales, para base y altura en español. (PISTA: Recuerda que tendrás que hacer uso del método replace)

In [23]:
base = input("Introduce la base:\n")
base = float(base.replace(",", "."))

altura = input("Introduce la altura:\n")
altura = float(altura.replace(",", "."))

area = round((base * altura), 2)

print("Área del paralelogramo:")
print(base, "x", altura, "=", area)

Introduce la base:
 2,55
Introduce la altura:
 3,66

Área del paralelogramo:
2.55 x 3.66 = 9.33



## Ejercicio 5
Complete el siguiente código para solicitar al usuario su nombre y su edad. Luego, calcule en qué año nació el usuario y muestre el resultado.

In [18]:
nombre = input("¿Cuál es tu nombre? ")
edad = int(input("¿Cuál es tu edad? "))
año_actual = 2025  # Puedes cambiarlo según el año en curso
año_nacimiento = año_actual - edad

print(f"{nombre}, naciste en el año {año_nacimiento}.")

¿Cuál es tu nombre?  Alvaro
¿Cuál es tu edad?  46

Alvaro, naciste en el año 1979.