# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [4]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

# En esete caso las columnas estan separadas por tabulador. equivale ambien a 4 espacios "    "
df_chipo = pd.read_csv(url, sep = "\t")

df_chipo.head(10)

# Análisis del dataframe.
# Lista de pedidos: los pedidos que tienen el mismo numero son 1 pedido desglosado
# Vemos que hay nulos NaN en la columna choice_description
#

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 3. Name of the max valued product

In [5]:
df_chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
# El item_price no es un valor numérico, es object. Cambiamos el dataframe
df_chipo["item_price"] = df_chipo["item_price"].str.replace("$", "").astype(float)
df_chipo["item_price"]

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [7]:
# Creamos una columna nueva con el precio por unidad de cada producto. 
# Interesa guardar los datos en una columna nueva del dt
# La siguiente sentencia lo que crea es una serie, no se guarda en el dt
# lista_precios = df_chipo["item_price"] / df_chipo["quantity"]
# La condicion es que la nueva columna tenga la misma cantidad de elementos
df_chipo["precio_unitario"] = df_chipo["item_price"] / df_chipo["quantity"]
len(df_chipo["precio_unitario"])
df_chipo

,order_id,quantity,item_name,choice_description,item_price,precio_unitario
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [65]:
df_chipo["precio_unitario"] == df_chipo["precio_unitario"].max()

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: precio_unitario, Length: 4622, dtype: bool

In [ ]:
# Esto hace un array unidimensional es decir una lista
"""
.loc[filas, columnas] permite seleccionar filas y columnas a la vez.

Primero filtra las filas donde precio_unitario es máximo.

Luego selecciona solo la columna "item_name".

Finalmente .unique() devuelve los valores únicos de esa columna.
"""
df_chipo.loc[df_chipo["precio_unitario"] == df_chipo["precio_unitario"].max(), "item_name"].unique()

array(['Steak Salad Bowl', 'Carnitas Salad Bowl', 'Barbacoa Salad Bowl'],
      dtype=object)

In [ ]:
"""
Primero se filtran las filas con la condición:

df_chipo[df_chipo["precio_unitario"] == df_chipo["precio_unitario"].max()]


Esto devuelve un nuevo DataFrame con solo esas filas.

Después seleccionas la columna "item_name" de ese DataFrame con otro [].

Finalmente .unique() devuelve los valores únicos.

✅ Funciona igual en la práctica, pero internamente hace dos pasos:

Filtra filas.

Selecciona columna.
"""
df_chipo[df_chipo["precio_unitario"] == df_chipo["precio_unitario"].max()]["item_name"].unique()

array(['Steak Salad Bowl', 'Carnitas Salad Bowl', 'Barbacoa Salad Bowl'],
      dtype=object)

In [11]:
# Con esto hacemos un array bidimensional es decir un dt pasando la columna asi ["item_name"]
# Aquí el unique no funciona porque no actua sobre una serie, sino un sobre un dt
"""
Nota la diferencia: ["item_name"] está dentro de una lista.

Esto le dice a pandas: “quiero un DataFrame que contenga solo esta columna”.

Resultado: un DataFrame con una sola columna, no una Serie.
"""
df_final = df_chipo.loc[df_chipo["precio_unitario"] == df_chipo["precio_unitario"].max(), ["item_name"]]
df_final

                item_name
281      Steak Salad Bowl
606      Steak Salad Bowl
613      Steak Salad Bowl
749      Steak Salad Bowl
1132  Carnitas Salad Bowl
1159     Steak Salad Bowl
1229  Barbacoa Salad Bowl
1311     Steak Salad Bowl
1326  Barbacoa Salad Bowl
1505     Steak Salad Bowl
1571     Steak Salad Bowl
1590     Steak Salad Bowl
1816     Steak Salad Bowl
2401     Steak Salad Bowl
2439     Steak Salad Bowl
2442  Barbacoa Salad Bowl
2610  Carnitas Salad Bowl
2740     Steak Salad Bowl
2804     Steak Salad Bowl
2957     Steak Salad Bowl
3120     Steak Salad Bowl
3208  Barbacoa Salad Bowl
3350     Steak Salad Bowl
3493     Steak Salad Bowl
3546  Barbacoa Salad Bowl
3749  Carnitas Salad Bowl
4239  Carnitas Salad Bowl
4313     Steak Salad Bowl

In [9]:
# Vemos aquí la diferencia: así vemos una serie
df_chipo["item_name"]

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object

In [10]:
# Vemos aquí la diferencia: aquí vemos un dt
df_chipo[["item_name"]]

                                  item_name
0              Chips and Fresh Tomato Salsa
1                                      Izze
2                          Nantucket Nectar
3     Chips and Tomatillo-Green Chili Salsa
4                              Chicken Bowl
...                                     ...
4617                          Steak Burrito
4618                          Steak Burrito
4619                     Chicken Salad Bowl
4620                     Chicken Salad Bowl
4621                     Chicken Salad Bowl

[4622 rows x 1 columns]

In [ ]:
# Aplicando la funcion drop duplicates hacemos un dt nuevo solo con el resultado
df_final_02 = df_chipo.loc[df_chipo["precio_unitario"] == df_chipo["precio_unitario"].max(), ["item_name", "precio_unitario"]].drop_duplicates()
df_final_02

                item_name  precio_unitario
281      Steak Salad Bowl            11.89
1132  Carnitas Salad Bowl            11.89
1229  Barbacoa Salad Bowl            11.89

In [12]:
# El loc es como filtrar con slicing. Es el slicing pero aplicado en Pandas
# Aquí filtramos primero filas 0:15 y luego columnas "item_name":"item_price"
# df_chipo.loc[0:15, "item_name":"item_price"] 

# Podemos hacer un dt nuevo
df_info_plato = df_chipo.loc[0:15, "item_name":"item_price"] 
df_info_plato

# Con iloc solo funcionan numeros, tanto para filas como columnas
# en este caso se funciona con el indice implicito, no saldrá la ultima fila del slicing en el caso d elas filas
# df_info_plato_02 = df_chipo.iloc[0:15, 2:5]
# df_info_plato_02

,item_name,choice_description,item_price
0,Chips and Fresh Tomato Salsa,NaN,2.39
1,Izze,[Clementine],3.39
2,Nantucket Nectar,[Apple],3.39
3,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,Side of Chips,NaN,1.69
7,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25
10,Chips and Guacamole,NaN,4.45
11,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
12,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
13,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
14,Chips and Guacamole,NaN,4.45
15,Chips and Tomatillo-Green Chili Salsa,NaN,2.39

### Step 4. How many products cost more than $10.00?

In [72]:
# Creamos la máscara
df_chipo["precio_unitario"] > 10

0       False
1       False
2       False
3       False
4       False
        ...
4617     True
4618     True
4619     True
4620    False
4621    False
Name: precio_unitario, Length: 4622, dtype: bool

In [ ]:
# Aplicamos la máscara con loc, creamos un dt con todos los valores mayores mayores de 10
# Filtramos filas con la máscara df_chipo["precio_unitario"] > 10
# Filtrammos columnas: ["item_name", "precio_unitario"]
df_chipo.loc[df_chipo["precio_unitario"] > 10, ["item_name", "precio_unitario"]]

               item_name  precio_unitario
5           Chicken Bowl            10.98
7          Steak Burrito            11.75
13          Chicken Bowl            11.25
23       Chicken Burrito            10.98
39         Barbacoa Bowl            11.75
...                  ...              ...
4610       Steak Burrito            11.75
4611      Veggie Burrito            11.25
4617       Steak Burrito            11.75
4618       Steak Burrito            11.75
4619  Chicken Salad Bowl            11.25

[1034 rows x 2 columns]

In [14]:
# Opción 1
df_chipo.loc[df_chipo["precio_unitario"] > 10, ["item_name"]].drop_duplicates().count()

item_name    25
dtype: int64

In [82]:
# Opción 2
df_chipo.loc[df_chipo["precio_unitario"] > 10, ["item_name"]].nunique()

item_name    25
dtype: int64

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [17]:
df_chipo

,order_id,quantity,item_name,choice_description,item_price,precio_unitario
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [83]:
df_chipo["precio_unitario"] > 10

0       False
1       False
2       False
3       False
4       False
        ...
4617     True
4618     True
4619     True
4620    False
4621    False
Name: precio_unitario, Length: 4622, dtype: bool

In [18]:
df_chipo.loc[df_chipo["precio_unitario"] > 10, ["order_id"]].nunique()

order_id    787
dtype: int64

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

In [19]:
# sacamos el montante total de cada pedido
grupo = df_chipo.groupby("order_id")["item_price"].sum()
grupo

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price, Length: 1834, dtype: float64

In [20]:
# Como es una serie se puede sacar el len de los pedidos de mas de 10 euros
len(grupo[grupo > 10])

1834

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

In [ ]:
# Creamos la máscara
df_chipo["item_price"] > 10

0       False
1       False
2       False
3       False
4        True
        ...
4617     True
4618     True
4619     True
4620    False
4621    False
Name: item_price, Length: 4622, dtype: bool

In [21]:
# Aplicamos la máscara
df_chipo.loc[df_chipo["item_price"] > 10, ["order_id"]].nunique()

order_id    863
dtype: int64

In [ ]:
df_chipo[(df_chipo["item_price"] > )]

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [94]:
df_chipo[["item_name", "precio_unitario"]].drop_duplicates()

                                  item_name  precio_unitario
0              Chips and Fresh Tomato Salsa             2.39
1                                      Izze             3.39
2                          Nantucket Nectar             3.39
3     Chips and Tomatillo-Green Chili Salsa             2.39
4                              Chicken Bowl             8.49
...                                     ...              ...
3989                          Chicken Salad             8.19
4235                           Chicken Bowl             8.50
4237                    Chips and Guacamole             4.25
4509                                  Chips             1.99
4510                          Barbacoa Bowl            11.49

[139 rows x 2 columns]

### Step 6. Sort by the name of the item

In [22]:
df_chipo.sort_values(by="item_name", ascending=True)

,order_id,quantity,item_name,choice_description,item_price,precio_unitario
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

In [96]:
df_chipo.sort_values("item_name", ascending=True)

,order_id,quantity,item_name,choice_description,item_price,precio_unitario
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

In [ ]:
# Podemos ordenar por 2 columnas y establecer el ascending
df_chipo.sort_values(by=["item_name", "choice_description"], ascending=[True, False])

,order_id,quantity,item_name,choice_description,item_price,precio_unitario
298,129,1,6 Pack Soft Drink,[Sprite],6.49,6.49
1026,422,1,6 Pack Soft Drink,[Sprite],6.49,6.49
1279,520,1,6 Pack Soft Drink,[Sprite],6.49,6.49
2374,945,1,6 Pack Soft Drink,[Sprite],6.49,6.49
3806,1525,1,6 Pack Soft Drink,[Sprite],6.49,6.49
...,...,...,...,...,...,...
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98,8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [ ]:
# Hacemos la máscara
df_chipo["precio_unitario"] == df_chipo["precio_unitario"].max()

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: precio_unitario, Length: 4622, dtype: bool

In [ ]:
# df_chipo["precio_unitario"].max() → obtiene el precio unitario más alto.

# El .loc[...] filtra las filas que tienen ese precio máximo.

# Luego seleccionas la columna "quantity".

# finalmente, .sum() suma todas las cantidades de esas filas.

df_chipo.loc[df_chipo["precio_unitario"] == df_chipo["precio_unitario"].max(), "quantity"].sum()

np.int64(30)

In [23]:
df_chipo.loc[df_chipo["precio_unitario"] == df_chipo["precio_unitario"].max()].groupby("item_name")["quantity"].sum()

item_name
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Steak Salad Bowl       21
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [24]:
df_chipo

,order_id,quantity,item_name,choice_description,item_price,precio_unitario
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [ ]:
# Máscara
df_chipo["item_name"] = "Veggie Salad Bowl"

In [ ]:
# Aquí sacammos cantidades
df_chipo[df_chipo["item_name"] == "Veggie Salad Bowl"]["quantity"].sum()

np.int64(18)

In [ ]:
# Aquí sacammos pedidos
df_chipo[df_chipo["item_name"] == "Veggie Salad Bowl"]["order_id"].nunique()

18

In [ ]:
# Aquí sacammos pedidos
df_chipo[df_chipo["item_name"] == "Veggie Salad Bowl"]["order_id"].count()

np.int64(18)

In [109]:
(df_chipo["item_name"] == "Veggie Salad Bowl").sum()

np.int64(18)

### Step 9. How many times did someone order more than one Canned Soda?

In [124]:
# Máscara
df_chipo["item_name"] == "Canned Soda"

0       True
1       True
2       True
3       True
4       True
        ...
4617    True
4618    True
4619    True
4620    True
4621    True
Name: item_name, Length: 4622, dtype: bool

In [26]:
df_chipo[(df_chipo["item_name"] == "Canned Soda")&(df_chipo["quantity"] > 1)]["order_id"].nunique()

18

In [27]:
df_chipo.loc[(df_chipo["item_name"] == "Canned Soda") & (df_chipo["quantity"] > 1), "order_id"].nunique()

18