# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [5]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [112]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

df_chipo = pd.read_csv(url, sep = "\t")

df_chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [113]:
df_chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 3. Name of the max valued product

In [114]:
# Aquí estamos trabajando sobre el dataframe
#productos = df_chipo["item_price"].str.replace("$", "").astype(float)
#print(type(productos))
#print(df_chipo)
"""
print(precio_unidad.max())

precio_max = precio_unidad.max()
df_chipo.loc[precio_unidad == precio_max, "item_name"].unique()
#print(productos_maximos)
"""

df_chipo["item_price"] = df_chipo["item_price"].str.replace("$", "").astype(float)
df_chipo["precio_unidad"] = df_chipo["item_price"] / df_chipo["quantity"]

print("Productos con el precio máximo por unidad:")
df_chipo.loc[df_chipo["precio_unidad"] == df_chipo["precio_unidad"].max(), "item_name"].unique()
# df_chipo

Productos con el precio máximo por unidad:

array(['Steak Salad Bowl', 'Carnitas Salad Bowl', 'Barbacoa Salad Bowl'],
      dtype=object)

### Step 4. How many products cost more than $10.00?

In [ ]:
print("Número de productos que cuestan más de 10 dólares por unidad:")
df_chipo.loc[df_chipo["precio_unidad"] > 10, "item_name"].nunique()

Productos que cuestan más de 10 dólares por unidad:

25

In [103]:
df_chipo.loc[df_chipo["precio_unidad"] > 10, "item_name"].unique()

array(['Chicken Bowl', 'Steak Burrito', 'Chicken Burrito',
       'Barbacoa Bowl', 'Veggie Burrito', 'Veggie Bowl',
       'Chicken Soft Tacos', 'Steak Bowl', 'Carnitas Burrito',
       'Carnitas Bowl', 'Barbacoa Burrito', 'Chicken Salad Bowl',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl', 'Chicken Salad',
       'Steak Salad Bowl', 'Chicken Crispy Tacos', 'Veggie Soft Tacos',
       'Barbacoa Soft Tacos', 'Carnitas Crispy Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Steak Soft Tacos',
       'Carnitas Soft Tacos', 'Steak Crispy Tacos'], dtype=object)

In [106]:
df_chipo["item_name"].nunique()

50

In [107]:
df_chipo.loc[df_chipo["item_price"] > 10, "item_name"].unique()

array(['Chicken Bowl', 'Steak Burrito', 'Chicken Burrito',
       'Barbacoa Bowl', 'Veggie Burrito', 'Veggie Bowl',
       'Chicken Soft Tacos', 'Steak Bowl', 'Carnitas Burrito',
       'Carnitas Bowl', 'Barbacoa Burrito', 'Chicken Salad Bowl',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chicken Crispy Tacos', 'Chicken Salad', 'Steak Salad Bowl',
       'Bowl', 'Veggie Soft Tacos', 'Barbacoa Soft Tacos',
       'Carnitas Crispy Tacos', 'Carnitas Salad Bowl',
       'Barbacoa Salad Bowl', 'Chips and Fresh Tomato Salsa',
       'Steak Soft Tacos', 'Carnitas Soft Tacos', 'Steak Crispy Tacos',
       'Chips and Guacamole', '6 Pack Soft Drink', 'Bottled Water',
       'Side of Chips'], dtype=object)

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [118]:
df_chipo

,order_id,quantity,item_name,choice_description,item_price,precio_unidad
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [122]:
print("Número de pedidos que se han hecho con un producto de más de 10 dólares por unidad:")
df_chipo.loc[df_chipo["precio_unidad"] > 10, "order_id"].nunique()

Número de pedidos que se han hecho con un producto de más de 10 dólares por unidad:

787

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

No es lo lo mismo, en este caso puede haber pedidos que valgan más de 10 euros pero con productos que por unidad valgan menos

In [ ]:
print("Número de pedidos que se han hecho de más de 10 dólares por unidad:")
df_chipo.loc[df_chipo["item_price"] > 10, "order_id"].nunique()

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

In [138]:
productos_pedidos_agrupados_01 = df_chipo.groupby(["order_id", "item_name"])["item_price"].sum().reset_index()
productos_pedidos_agrupados_01

      order_id                              item_name  item_price
0            1           Chips and Fresh Tomato Salsa        2.39
1            1  Chips and Tomatillo-Green Chili Salsa        2.39
2            1                                   Izze        3.39
3            1                       Nantucket Nectar        3.39
4            2                           Chicken Bowl       16.98
...        ...                                    ...         ...
4287      1831                                  Chips        2.15
4288      1832                     Chicken Soft Tacos        8.75
4289      1832                    Chips and Guacamole        4.45
4290      1833                          Steak Burrito       23.50
4291      1834                     Chicken Salad Bowl       28.75

[4292 rows x 3 columns]

In [140]:
productos_pedidos_agrupados = df_chipo.groupby(["order_id", "item_name"])["item_price"].sum()

productos = productos_pedidos_agrupados[productos_pedidos_agrupados > 10]

numero_pedidos = productos.index.get_level_values("order_id").nunique()

print("Numero de pedidos en los que se ha pagado más de 10$ por un mismo producto:\n", numero_pedidos)

Numero de pedidos en los que se ha pagado más de 10$ por un mismo producto:
 945

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [141]:
df_chipo

,order_id,quantity,item_name,choice_description,item_price,precio_unidad
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [147]:
df_chipo[["item_name", "precio_unidad"]].drop_duplicates()

                                  item_name  precio_unidad
0              Chips and Fresh Tomato Salsa           2.39
1                                      Izze           3.39
2                          Nantucket Nectar           3.39
3     Chips and Tomatillo-Green Chili Salsa           2.39
4                              Chicken Bowl           8.49
...                                     ...            ...
3989                          Chicken Salad           8.19
4235                           Chicken Bowl           8.50
4237                    Chips and Guacamole           4.25
4509                                  Chips           1.99
4510                          Barbacoa Bowl          11.49

[139 rows x 2 columns]

### Step 6. Sort by the name of the item

In [152]:
df_chipo[["item_name", "precio_unidad"]].drop_duplicates().sort_values("item_name")

              item_name  precio_unidad
298   6 Pack Soft Drink           6.49
4510      Barbacoa Bowl          11.49
471       Barbacoa Bowl          11.48
115       Barbacoa Bowl           8.99
39        Barbacoa Bowl          11.75
...                 ...            ...
186   Veggie Salad Bowl          11.25
960   Veggie Salad Bowl           8.75
1395  Veggie Soft Tacos           8.49
738   Veggie Soft Tacos          11.25
781   Veggie Soft Tacos           8.75

[139 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [ ]:
# Forma 1
df_chipo.loc[df_chipo["item_price"] == df_chipo["item_price"].max(), "quantity"]

3598    15
Name: quantity, dtype: int64

In [164]:
# Forma 2
df_chipo.loc[df_chipo["item_price"].idxmax(), "quantity"]

np.int64(15)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [160]:
print("Veces que se ha pedido el Veggie Salad Bowl:")
(df_chipo["item_name"] == "Veggie Salad Bowl").sum()

Veces que se ha pedido el Veggie Salad Bowl:

np.int64(18)

In [161]:
print("Veces que se ha pedido el Veggie Salad Bowl:")
df_chipo[df_chipo["item_name"] == "Veggie Salad Bowl"].shape[0]

Veces que se ha pedido el Veggie Salad Bowl:

18

### Step 9. How many times did someone order more than one Canned Soda?

In [167]:
df_canned_soda = df_chipo[(df_chipo["item_name"] == "Canned Soda") & (df_chipo["quantity"] > 1)]

numero_pedidos_02 = df_canned_soda.shape[0]

print("Veces que alguien pidió más de una Canned Soda:", numero_pedidos_02)

Veces que alguien pidió más de una Canned Soda: 20