# CÓDIGO PARA RECORDAR, REFUERZO, DUDAS

## Basics I

Si hacemos un print de un texto, podemos concatenar valores de variables mediante `%s`.

In [2]:
beneficio = 200

In [3]:
print('Los beneficios de junio han sido de 900 millones')

Los beneficios de junio han sido de 900 millones

In [ ]:
print("Los beneficios de %s han sido de %s millones" % ("septiembre", beneficio))

print("Los beneficios de", "septiembre", "han sido de" ,beneficio, "millones")

Los beneficios de septiembre han sido de 200 millones
Los beneficios de septiembre han sido de 200 millones

Otra opcion si queremos imprimir por pantalla varios strings, es separandolos por comas en el `print`. Fíjate que le añade espacios en la salida cada vez que ponemos un valor nuevo entre comas.

In [5]:
mes = "agosto"
print("Los beneficios de", mes, "han sido de", beneficio, "millones")

Los beneficios de agosto han sido de 200 millones

In [6]:
# "Los beneficios deagostohan sido de800millones"

In [ ]:
# Si se pone f delante de un string, se detectarán variables entre llaves dentro del texto
print(f"Los beneficios de {mes} han sido de {beneficio} millones")

Los beneficios de agosto han sido de 200 millones

## Basics II

Interesante función built-in. Itera sobre varios iterables en paralelo, produciendo tuplas con un elemento de cada uno.

In [9]:
for item in zip([1, 2, 3], ['sugar', 'spice', 'everything nice']):
    print(item)

(1, 'sugar')
(2, 'spice')
(3, 'everything nice')

(1, 'sugar')
(2, 'spice')
(3, 'everything nice')

(3, 'everything nice')

ENLACE A FUNCIONES BUILT-IN

[funciones built-in](https://docs.python.org/3/library/functions.html)

ENLACE A MÉTODOS DE LA CLASE STRING

[métodos de string](https://docs.python.org/2.5/lib/string-methods.html)

In [13]:
# EJEMPLOS DE MÉTODOS DE STRING ÚTILES
string_ejemplo = "String de ejemplo"

print(string_ejemplo.upper())
# new_string = string_ejemplo.upper()
# print(new_string)
# print(string_ejemplo)


print(string_ejemplo.lower())

print(string_ejemplo.replace("e", "E"))

print(string_ejemplo.split(' '))
string2lista = string_ejemplo.split(' ')
print(type(string2lista))

print(string_ejemplo.index('r'))

STRING DE EJEMPLO
string de ejemplo
String dE EjEmplo
['String', 'de', 'ejemplo']
<class 'list'>
2

Forma de acceder a elementos de una lista que está dentro de otra lista.

In [21]:
list_mix = ["texto", 1, 55.78, True]
list_list = [4, "diez", [True, 6], [], list_mix]

print(list_list)

# El primer número entre corchetes indica el índice del elemento dentro de la lista principal
# El segundo número entre corchetes indica el índice del elemento dentro de la lista anidada en la anterior
print(type(list_list[4][2]))
print(list_list[4][2])
# El tercer número entre corchetes indica el índice del caracter dentro del elemento string en la lista anidada en la anterior
print(list_list[4][0][1])
# El segundo número entre corchetes indica el índice del caracter dentro del elemento string en la lista principal
print(list_list[1][2])

# Modificación de un elemento de la lista
list_list[4] = "lista anidada eliminada"
print(list_list)

[4, 'diez', [True, 6], [], ['texto', 1, 55.78, True]]
<class 'float'>
55.78
e
e
[4, 'diez', [True, 6], [], 'lista anidada eliminada']

ENLACE A MÉTODOS QUE SE PUEDEN USAR CON LISTAS

[métodos para listas](https://www.w3schools.com/python/python_ref_list.asp)

## Flujos de control

In [ ]:
def identificar_animal(pico, alas, sonido, patas):
    # Con un función estas variables se pasan como argumentos en la llamada a la función
    # pico = True
    # alas = True
    # sonido = "Ladrar"
    # patas = 4

    # No es necesario poner if pico == True or alas == True
    if pico and alas:
        # True or False = True
        return print("Ave")

    elif patas == 4 and sonido == "Ladrar":
        # True and True = True
        return print("Perro")

    else:
        return print("Otro animal")

In [23]:
identificar_animal(True, True, "Rebuznar", 4)

Ave

EJEMPLO DE BUCLE FOR EN UNA MATRIZ

In [24]:
matriz = [[4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 7]]

for lista in matriz:
    print(lista)
    for elemento in lista:
        print(elemento)
        
print("El primer elemento de la primera lista de la matriz es:\n", matriz[0][0])

print("Salir del bucle")

[4, 5, 6, 7]
4
5
6
7
[8, 9, 10, 11]
8
9
10
11
[12, 13, 14, 7]
12
13
14
7
El primer elemento de la primera lista de la matriz es:
 4
Salir del bucle

EJEMPLO DE BUCLE FOR USANDO 2 LISTAS EXISITENTES Y CREANDO UNA NUEVA A LA QUE SE LE AÑADEN NOTAS ACTUALIZADAS

In [42]:
notas_clase = [4,5,7]
entregas = [False,True,True]
notas_clase_actualizada = []

# Bucle para comprobar correspondencia entre las notas de cada alumno y si han entregado o no tareas
for nota in notas_clase:
    print(entregas[notas_clase.index(nota)])

for nota in notas_clase:
    if entregas[notas_clase.index(nota)]:
        notas_clase_actualizada.append(nota + 1)
    else:
        notas_clase_actualizada.append(nota - 1)

print(f"Notas actualizadas: {notas_clase_actualizada}")

False
True
True
Notas actualizadas: [3, 6, 8]

EJEMPLO DE BUCLE FOR PARA IMPRIMIR CASILLAS DE TABLERO 3 EN RAYA

In [55]:
# Tablero 3 en raya
# i es fila
# j es columna

for i in range (1, 4):
    # print(i)
    for j in range (1, 4):
        # print(j)
        if i == 2 and j == 2:
            print(f"Casilla central: {i},{j}")
        else:
            print(f"Coordenadas: {i},{j}")

Coordenadas: 1,1
Coordenadas: 1,2
Coordenadas: 1,3
Coordenadas: 2,1
Casilla central: 2,2
Coordenadas: 2,3
Coordenadas: 3,1
Coordenadas: 3,2
Coordenadas: 3,3

FUNCIONES IMPORTANTES PARA ITERAR: función range

[documentación](https://www.w3schools.com/python/ref_func_range.asp)

In [ ]:
# Se puede usar para crear listas, tupas o set de números
lista_num = list(range(10, -1, -1))
print(lista_num)

lista_num = tuple(range(10, -1, -1))
print(lista_num)

lista_num = set(range(10, -1, -1))
print(lista_num)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [69]:
# Se puede usar para iterar sobre elementos de una lista, tupla o set
colores_list = ['rojo', 'verde', 'azul']

for i in range(len(colores_list)):
    print(i, colores_list[i])

    
print("-----------------------------------------")

colores_tup = ('rojo', 'verde', 'azul')

for i in range(len(colores_tup)):
    print(i, colores_tup[i])

print("-----------------------------------------")

colores_set = {'rojo', 'verde', 'azul'}

for i in range(len(colores_tup)):
    print(i, colores_tup[i])

0 rojo
1 verde
2 azul
-----------------------------------------
0 rojo
1 verde
2 azul
-----------------------------------------
0 rojo
1 verde
2 azul

FUNCIONES IMPORTANTES PARA ITERAR: función enumerate

**Se usa para sacar dentro de un bucle tanto el elemento del iterable, como su índice.**

**OJO: para imprimir el resultado de la función es necesario convertir en una lista la variable que la almacena o iterar sobre la lista.**

[documentación](https://www.w3schools.com/python/ref_func_enumerate.asp)

In [ ]:
lista_frutas = ["manzana", "pera", "naranja", "melón"]
x = enumerate(lista_frutas)
print(list(x))

[(0, 'manzana'), (1, 'pera'), (2, 'naranja'), (3, 'melón')]
()

In [79]:
names = ["Pedro", "Mariano", "Jose Luis"]
print(list(enumerate(names)))

for ind, elem in enumerate(names):
    print(f"Indice: {ind} **** Elemento: {elem}", )

print("----------------------------------------------")

for i in list(enumerate(names)):
    print(i)
    for j in i:
        print(j)

[(0, 'Pedro'), (1, 'Mariano'), (2, 'Jose Luis')]
Indice: 0 **** Elemento: Pedro
Indice: 1 **** Elemento: Mariano
Indice: 2 **** Elemento: Jose Luis
----------------------------------------------
(0, 'Pedro')
0
Pedro
(1, 'Mariano')
1
Mariano
(2, 'Jose Luis')
2
Jose Luis

In [84]:
names_2 = [["Pedro","Paco"], "Mariano", "Jose Luis"]

list(enumerate(names_2))

for i, elem in enumerate(names_2):
    print(i, " ", elem)
    for j, name in enumerate(elem):
        print(j, name )

0   ['Pedro', 'Paco']
0 Pedro
1 Paco
1   Mariano
0 M
1 a
2 r
3 i
4 a
5 n
6 o
2   Jose Luis
0 J
1 o
2 s
3 e
4
5 L
6 u
7 i
8 s